body{
  font-family:Arial;
  background:#f2f2f2;
  margin:0;
}

.container{
  max-width:600px;
  margin:auto;
  background:white;
  padding:20px;
}

h1,h2,h3{
  text-align:center;
}

input,select,button{
  width:100%;
  padding:10px;
  margin:6px 0;
}

button{
  cursor:pointer;
  border:none;
}

.btn-admin{
  background:#007bff;
  color:white;
}

.btn-danger{
  background:#dc3545;
  color:white;
}

.btn-cerrar{
  background:#6c757d;
  color:white;
  margin-bottom:10px;
}

.admin-panel{
  display:none;
  background:#eee;
  padding:15px;
}

#listaTurnosAdmin div{
  background:#fff;
  padding:8px;
  margin:5px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

@media(max-width:600px){
  .container{padding:10px}
}
